@import '../mixins';

:root {
   --font-stack: ;

   --h1-mobile: ;
   --h1-desktop: ;
   --h1-weight: ;
   --font-h1: ;

   --h2-mobile: ;
   --h2-desktop: ;
   --font-h2: ;

   --h3-mobile: ;
   --h3-desktop: ;
   --font-h3: ;

   --h4-mobile: ;
   --h4-desktop: ;
   --font-h4: ;

   --p-mobile: ;
   --p-desktop: ;
   --font-p: ;
}
